{% extends "login_template.html" %}
{% load static%}
{% block title %}Create an Account{% endblock %}


{% block content %}
    <form method="POST" class="form-group">
    	<h2 style="text-align:center;font-family: Lucida Sans Unicode, Lucida Grande, sans-serif">
      <img class="avatar" src="{% static 'media/avatar.png' %}"><br>
      Sign Up
    </h2>
    To Log in 
		{% csrf_token %}
		{{ form }}
		<button type="submit" class="btn2">Register</button>
    </form><br>
    have an accoount? To Sign In <a = href="/login">click here </a><br>
    
{% endblock %}